@charset "utf-8";
body {	
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-style: normal;
	height:100%;
	background:url(images/body-bg.png);
	color:#616263;
}

*{	
	padding:0px;
	margin:0px;
}

/*limpiar overflow:hidden;*/

.cboth{
	clear:both;
	line-height:0px;
	font-size:0px;
	height:0px;
}

a{
	color:#da2229;
	text-decoration:none;
}
a:hover{
	color:#f4481e;
}

.header-bg{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:#f6f5f5;
	border-top:3px solid #343c41;
	border-bottom:1px solid #29b4dc;
}
.header{
	width:1130px;
	margin-left:auto;
	margin-right:auto;
}
.header h1{
	float:left;
	margin-top:30px;
}
.top-right{
	float:right;
	width:67%;
}
.top-menu-1{
	float:left;
	width:100%;
}
.top-menu-1 ul{
	float:right;
	list-style:none;
}
.top-menu-1 ul li{
	float:left;
}
.top-menu-1 ul li a{
	float:left;
	padding:6px 13px;
	color:#ee5d0e;
	font-size:12px;
}
.top-menu-1 ul li a:hover{
	color:#000;
}


.contenido{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.row{
	float:left;
	width:33%;
}
.row.c1{
	margin-right:.5%;
}
.row img{
	float:left;
	width:100%;
}
.row img:hover{
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 1s linear;
}
.row div{
	float:left;
	width:90%;
	background:#f4f4f5;
	padding:4% 5%;
}

.row div h2{
	float:left;
	width:100%;
	text-align:center;
	border-bottom:1px solid #FFF;
	padding-bottom:15px;
}
.row div h2 a{	
	color:#fa5b05;
	font-size:20px;
}
.row div h2 a:hover{	
	color:#000;
}
.row div p{
	float:left;
	width:100%;
	text-align:center;
	border-top:1px solid #e3e3e4;
	padding-top:15px;
	color:#3a3a3a;
	line-height:24px;
	padding-bottom:10px;
}
.row-1{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:#f0eded;	
}
.row-2{
	width:1250px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding-top:10px;
}
.row-2 p{
	float:left;
	width:50%;
}
.row-2 p i{
	float:left;
	margin-right:5px;
	padding-bottom:12px;
	padding-top:2px;
}
.row-2 p b{
	float:left;
	margin-right:10px;
	font-weight:100;
	padding-top:5px;
}
.text-f1{
	float:left;
	width:200px;
	height:28px;
	border:1px solid #999;
	border-radius:4px 0px 0px 4px;
}
.text-f1-btn{
	float:left;
	width:28px;
	height:30px;
	border:1px solid #999;
	border-radius:0px 4px 4px 0px;
	color:#fff;
	background:#9d9f9f;
}
.row-2 ul{
	float:right;
	list-style:none;
	margin-top:5px;
}
.row-2 ul li{
	float:left;
}
.row-2 ul li a{
	float:left;
	padding:2px 10px;
	border-left:1px solid #fff;
	border-right:1px solid #e1e0e0;
}
.row-2 ul li a.last{
	border-right:0;
}
.row-2 ul li a.frist{
	border-left:0;
}

.client-feed{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.client-feed h4{
	float:left;
	width:100%;
	text-align:center;
	font-size:20px;
	color:#484847;
	font-weight:100;
	padding-top:85px;
}
.client-feed h4 b{
	color:#01aef0;
	font-weight:bold;
}
.client-feed span{
	float:left;
	width:10%;
	padding-top:50px;
}

.client-feed div p{
	float:left;
	width:60%;
	padding-left:10%;
	text-align:center;
	padding-top:30px;
	line-height:30px;
}
.client-feed div p b{
	color:#fe6131;
}
.tetx-box{
	float:left;
	width:76%;
	height:54px;
	border:1px solid #dfdfdf;
	border-right:0px;
}
.tetx-box-btn{
	float:left;
	width:20%;
	height:56px;
	background:url(images/search-icon.png) no-repeat;
	border:0px;
}

.footer-bg{
	width:100%;
	background:#242424;
	border-top:3px solid #368ed2;
	padding-top:20px;
}	
.footer{
	width:1050px;
	margin-left:auto;
	margin-right:auto;	
}
.footer div{
	float:left;
	width:22%;
	padding-right:3%;
}

.footer div h3{
	float:left;
	width:100%;
	font-size:17px;
	text-transform:uppercase;
	color:#fff;
	font-weight:100;
	padding-bottom:15px;
}
.footer div p{
	float:left;
	width:95%;
	font-size:13px;
	text-align:justify;
	color:#b6b5b5;
	padding-top:10px;
	line-height:22px;
}
.footer div p b{
	float:left;
	height:60px;
	margin-right:8px;
}
.footer div ul{
	float:left;
	width:100%;
	list-style:none;
}
.footer div ul li a{
	float:left;
	width:94%;
	font-size:14px;
	color:#CCC;
	border-bottom:1px dashed #353535;
	padding:7px 0px;
	background:url(images/arrow-icon.png) no-repeat left;
	padding-left:6%;
}
.footer div ul li a:hover{
	color:#FFF;
}
.text-f2{
	float:left;
	width:75%;
	border:1px solid #000;
	height:30px;
	margin-top:18px;
	background:#fff;
}
.text-f2-btn{
	float:left;
	width:22%;
	border:1px solid #000;
	height:32px;
	background:#f26522;
	margin-top:18px;
	text-align:center;
	text-transform:uppercase;
	margin-left:3px;
	font-size:15px;
	color:#fff;
}
.footer div span{
	float:left;
	width:100%;
	margin-top:18px;
}
.footer div span a{
	float:left;
	padding-left:6px;
}
.footer-1-bg{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background:#000;	
}
.footer-1{
	width:1050px;
	margin-left:auto;
	margin-right:auto;	
}
.footer-1 span{
	float:left;
	padding:10px;
}
.footer-1 span a{
	font-size:13px;
	color:#CCC;
}
.footer-1 span a:hover{
	font-size:13px;
	color:#FFF;
}

.footer-1 p{
	float:right;
	font-size:13px;
	padding:10px;
}

